# Игнорирование директории node_modules
node_modules/

# Игнорирование файлов логов
logs/
*.log

# Игнорирование временных файлов
*.tmp

# Игнорирование файлов конфигурации
config.js

# Игнорирование файлов секретов
secrets.js

# Игнорирование файлов окружения
.env

# Игнорирование папки с покрытием кода
coverage/

# Игнорирование файлов зависимостей пакетного менеджера
package-lock.json
yarn.lock